# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # set database parameters
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    # set main transport method for sending email
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt


    # parameters for solr
    solr_host: [solr server host name]
    solr_scheme: [http or https]
    solr_port: 8983
    solr_path: /solr
    solr_core:  ebooks
    solr_timeout: 5

    #parameters for CAS
    cas_debug: false
    cas_debug_file: ''
    cas_server_host: [hostname for cas server]
    cas_server_uri: /cas
    cas_server_port: 443
    cas_server_version: saml_1_1
