<ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="">Admin Dashboard</a></li>
    <li role="presentation"><a href="{{ path('admin_ebook_list') }}">Manage Books</a></li>
    <li role="presentation"><a href="{{ path('admin_subject_list') }}">Manage Subjects</a></li>
    <li role="presentation"><a href="{{ path('admin_vendor_list') }}">Manage Vendors</a></li>
    <li role="separator" class="divider"></li>
    <li role="presentation"><a href="#">Import Books</a></li>
    <li role="presentation"><a href="#">Re-Index Search Index</a></li>
</ul>
