header{
  #rowan-brand-header{
    background: $rowan-gold;
    color: $rowan-brown;
    height: 44px;
    line-height: 44px;
    padding: 7px 0px;

    #rowan-branding{
      height: 30px;
      line-height: 30px;
      width: auto;
      position: relative;


      .rowan-logo{
        position: absolute;
        left: 0;
        display: inline-block;
        text-indent: -9999px;
        width: 220px;
        height: 30px;
        background-image:   url('../images/logos/ru-logo-h.png');
        background-position: left;
        background-size: auto 30px;
        background-repeat: no-repeat;
      }

      .dept-label {
        position: absolute;
        width: auto;
        left: 220px;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: 24px;
        color: $rowan-brown;
        padding-left: 0.5rem;
        border-left: solid 1px $rowan-brown;
      }
    }
  }
}

.navbar{
  border-bottom: solid 1px lightgray;
  border-radius: 0;

  a{
    color: #333;
  }
}
