{% set route = app.request.attributes.get('_route') %}
{% set add_update_title = 'Add Subject' %}
{% set add_update_path = path('admin_subject_new', app.request.attributes.get('_route_params')) %}
{% if route == 'admin_subject_edit' %}
    {% set add_update_title = 'Update Subject' %}
    {% set add_update_path = path('admin_subject_edit', app.request.attributes.get('_route_params')) %}
{% endif %}
{{ route }}
<ul class="nav nav-tabs">
    <li role="presentation" {% if route == 'admin_subject_list' %}class="active" {% endif %}><a href="{{ path('admin_subject_list') }}"><i class="fa fa-fw fa-plus"></i>List Subject</a></a></li>
    <li role="presentation" {% if route == 'admin_subject_new' or route == 'admin_subject_edit' %}class="active" {% endif %}><a href="{{ add_update_path }}"><i class="fa fa-fw fa-pencil-square"></i>{{ add_update_title }}</a></a></li>
</ul>