.btn{
  &-circle{
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    text-align: center;


    &-lg{
      line-height: 2.5rem;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 1.25rem;
    }
  }

  &-inline{
    display: inline-block;
  }
}